certifi==2020.12.5
chardet==3.0.4
Click==7.1.2
Deprecated==1.2.12
idna==2.10
Jinja2==2.11.3
MarkupSafe==1.1.1
prompt-toolkit==1.0.14
PyGithub==1.54.1
Pygments==2.8.1
pyhcl==0.4.4
PyInquirer==1.0.3
PyJWT==1.7.1
PyYAML==5.4.1
regex==2021.8.3
requests==2.26.0
six==1.15.0
urllib3==1.26.5
wcwidth==0.2.5
wrapt==1.12.1
