certifi==2020.6.20
chardet==3.0.4
Click==7.1.2
Deprecated==1.2.10
idna==2.10
Jinja2==2.11.2
MarkupSafe==1.1.1
prompt-toolkit==1.0.14
PyGithub==1.53
Pygments==2.7.1
pyhcl==0.4.4
PyInquirer==1.0.3
PyJWT==1.7.1
PyYAML==5.3.1
regex==2020.9.27
requests==2.24.0
six==1.15.0
urllib3==1.25.10
wcwidth==0.2.5
wrapt==1.12.1
