name: release
on:
  release:
    types:
      - published
  workflow_dispatch:
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine pyaml
      - name: Trigger deploy
        run: |
          curl -X POST https://api.github.com/repos/reflexivesecurity/reflex-docs-infrastructure/dispatches \
          -H "Accept: application/vnd.github.everest-preview+json" \
          -H "Authorization: token $GIHTUB_TOKEN" \
          --data '{"event_type": "deploy"}'
        env:
          GITHUB_TOKEN: ${{ secrets.CLOUDMITIGATOR_GITHUB_PAT }}
      - name: Set version
        run: |
          echo "VERSION=$(gh release view | sed -n 2p | awk '{ print $2 }')" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ secrets.CLOUDMITIGATOR_GITHUB_PAT }}
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*
